<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action method="post" th:object="${item}">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName"
                   th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
	        <!-- th:field = id와 name이 자동 생성됨 * th object를 잡았기 때문에 item.itemname으로 인식됨.-->
	        <!-- 그러면 id="itemName" name="itemName" 지워도 됨, id는 일단 남겨둠 (IDE 인식문제) -->
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">
	    
	    <!--<div>판매 여부</div>
	    <div>
		    <div class="form-check">
			    <input type="checkbox" id="open" name="open" class="form-check-input">
			    <input type="checkbox" id="_open" value="on"/> 이 히든필드 및의 thymeleaf에서 자동 생성
			    <label for="open" class="form-check-label">판매 오픈</label>
		    </div>
	    </div>-->
	    
	    <div>판매 여부</div>
	    <div>
		    <div class="form-check">
			    <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input">
			    
			    <label for="open" class="form-check-label">판매 오픈</label>
		    </div>
	    </div>
	    
	    <div>
		    <div>등록 지역</div>
		    <div th:each="region : ${regions}" class="form-check form-check-inline">
			    <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input">
			    <label th:for="${#ids.prev('regions')}"
			           th:text="${region.value}" class="form-check-label">서울</label>
		    </div>
		    
		    <!-- th:for="${#ids.prev('regions')}" 멀티 체크박스는 같은 이름의 여러 체크박스를 만들 수 있다.
		    그런데 문제는 이렇게 반복해서 HTML 태그를 생성할 때, 생성된 HTML 태그 속성에서 name 은 같아도 되지만, id 는 모두 달라야 한다. 따라서
		    타임리프는 체크박스를 each 루프 안에서 반복해서 만들 때 임의로 1 , 2 , 3 숫자를 뒤에 붙여준다. -->
	    </div>
	    
	    <!-- radio button -->
	    <div>
		    <div>상품 종류</div>
		    <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
			    <input type="radio" th:field="*{itemType}" th:value="${type.name()}"
			           class="form-check-input">
			    <label th:for="${#ids.prev('itemType')}" th:text="${type.description}"
			           class="form-check-label">
				    BOOK
			    </label>
		    </div>
	    </div>
	    
	    <!-- SELECT -->
	    <div>
		    <div>배송 방식</div>
		    <select th:field="*{deliveryCode}" class="form-select">
			    <option value="">==배송 방식 선택==</option>
			    <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
			            th:text="${deliveryCode.displayName}">FAST</option>
		    </select>
	    </div>
	    <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>